div.a1{
	background-color: silver;
	color: red;
	font-size: 60px;
	text-align: center;
	font-size:60px ;
	}

form{
	font-size: 30px;
	margin: justify;
	display:flex;
}

div.a2{
 font-size: 30px;
 text-align: center;
 margin-top: 30px
}

div.a3{
	font-size: 15px;
	margin-top: 30px;
	font-size: 20px;
	border: none;
	padding-top: 15px
}

input{
	background-color: silver
}
